<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author - {{ author.name }}</title>
</head>
<body>
    <h1>Página de {{author.name}}</h1>
    <h2>Libros:</h2>
    {% for book in books.items %}
        <h3>{{ book.title }}</h3>
        <img src="{{ book.online_picture_route }}" alt="{{ book.title }}">
        <p>ISBN: {{ book.isbn }}</p>
        <p>Rating: {{ book.rating }}/5</p>
        <p>Escrito por: {{ author.name }}</p>
        <p>Formato: {{ book.format }}</p>
    {% endfor %}

    {% for page_num in books.iter_pages() %}
        {% if page_num %}
        <a href="{{ url_for('author_page', author_name=author.name, page=page_num) }}">{{ page_num }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</body>
</html>